body {
    font-family: "Open Sans";
    background-color: #F5F4F0;
    padding: 88px 80px 137px;
}

span {
    text-transform: uppercase;
    font-weight: bold;
    color: red;
}


img {
    border-radius: 28px;
    width: 100%;

}

h1 {
    font-size: 36px;
    font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;

}

p {
    font-size: 16px;
}

img + p {
    text-align: center;
    font-style: italic;
}

.item-azul {color: #0C51A7;
    font-weight: bold;
}
.item-roxo {color: #591B98;
    font-weight: bold;
}
.item-rosa {color: #E5245E;
    font-weight: bold;
}
.item-laranja {color: #E95E10;
    font-weight: bold;
}